* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden overlay;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.no_transition {
  transition: none !important;
}

#logo {
  text-align: center;
  a {
    font-size: 40px;
    font-variant: small-caps;
    text-decoration: none;
    line-height: 75px;
    justify-self: start;
    user-select: none;
    outline: none;
    span {
      font-weight: bold;
    }
  }
}
header {
  position: relative;
  display: grid;
  grid-template-columns: 220px auto;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 8px;
  #logo {
    text-align: left;
  }
  h1 {
    height: 85px;
    max-width: 100%;
    font-weight: 400;
    line-height: 85px;
    justify-self: end;
    font-variant: small-caps;
    text-transform: lowercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    &.editable {
      cursor: text;
    }
    .album__download,
    .album__delete {
      top: 28px;
      right: 0;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
    }
    .album__delete {
      opacity: 0;
      visibility: collapse;
      transition: opacity 250ms linear, visibility 250ms linear;
    }
    .album__title_input {
      position: absolute;
      top: 15px;
      right: 1px;
      padding: 5px;
      width: 100%;
      max-width: calc(100% - 250px);
      font-size: 32px;
      font-variant: small-caps;
      text-align: right;
      border: 1px dashed;
      opacity: 0;
      visibility: collapse;
      transition: opacity 250ms linear, visibility 250ms linear;
      &.editable {
        opacity: 1;
        visibility: visible;
        transition: opacity 250ms linear, visibility 0ms linear;
      }
    }
  }
  &:hover {
    h1 {
      .album__delete {
        opacity: 1;
        visibility: visible;
        transition: opacity 250ms linear, visibility 0ms linear;
      }
    }
  }
}

.wrapper {
  position: relative;
  margin: 0 auto 10px;
  &:hover {
    .actions {
      opacity: 1;
      visibility: visible;
      transition: opacity 250ms linear, visibility 0ms linear;
    }
  }
  .actions {
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0;
    visibility: collapse;
    transition: opacity 250ms linear, visibility 250ms linear;
    .action__delete {
      display: inline-block;
      text-align: center;
      line-height: 2;
      font-size: 16px;
      width: 37px;
      height: 37px;
      padding: 0px;
      border: 1px;
      border-style: solid;
      cursor: pointer;
    }
  }
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
  &.delete,
  &.update {
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms linear, visibility 0ms linear;
  }
  &.delete {
    #delete_modal {
      visibility: visible;
    }
  }
  &.update {
    #update_modal {
      visibility: visible;
    }
  }
  #delete_modal,
  #update_modal {
    position: relative;
    width: 250px;
    height: 100px;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    border: 1px;
    border-style: solid;
    visibility: collapse;
    h2 {
      font-weight: 600;
      font-size: 18px;
      padding: 5px;
    }
    hr {
      height: 1px;
      border: 0;
      padding: 0;
    }
    span {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 5px;
      button {
        width: 70px;
        height: 25px;
        border: 1px;
        border-style: solid;
        cursor: pointer;
        transition: background-color 100ms linear, color 100ms linear;
        &:hover {
          &.cancel {
            font-weight: 700;
          }
        }
      }
    }
  }
}