@import 'shared/theme';

* {
  box-sizing: border-box;
}

body {
  overflow: hidden overlay;
  color: var(--color-theme-inverted);
  background-color: var(--color-page-background);
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

@import 'shared/icons';
