body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
}

header {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  height: 5.38rem;
  max-width: 60rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 500;
  align-self: center;
  position: relative;
  width: 100%;
  max-width: 60rem;
  border: 1px solid var(--color-content-border);
  border-bottom: 0;
  background: var(--color-content-background);

  section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;

    h1, h2 {
      color: color-mix(in srgb, var(--color-error-text) 70%, var(--color-white));
      margin: 0;
    }

    h1 {
      font-size: 10rem;
    }

    h2 {
      font-size: 3rem;
      font-weight: normal;
    }

    p {
      font-size: 1.2rem;
      color: color-mix(in srgb, var(--color-error-text) 50%, var(--color-theme));
    }

    pre {
      background: var(--color-page-background-theme-mix);
      color: var(--color-error-text);
      white-space: pre;
      overflow: auto;
      padding: 1rem;
      max-width: 100%;
    }

    span {
      display: flex;
      flex-grow: 1;
      align-items: end;
      justify-content: center;

      a {
        color: var(--color-header-text);
        font-weight: 600;
        text-decoration: none;
        padding: 2rem;
        text-transform: uppercase;
        transition: color 150ms linear;

        &:hover {
          color: var(--color-logo);

          &::before,
          &::after {
            opacity: 1;
          }
        }

        &::before,
        &::after {
          opacity: 0;
          transition: opacity 150ms linear;
        }

        &::before {
          content: '« '
        }

        &::after {
          content: ' »'
        }
      }
    }
  }
}
