@import 'shared/userAlbumFileBase';

#table {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 100%;
  min-width: 13rem;
  background: var(--color-page-background);
  border: 1px solid var(--color-content-border);
  margin-bottom: 1rem;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;

    &:nth-child(even) {
      background: var(--color-content-background);
    }
  }
}

section > span {
  display: flex;
  flex-grow: 1;
  align-items: end;
  justify-content: center;

  a {
    color: var(--color-header-text);
    font-weight: 600;
    text-decoration: none;
    padding: 2rem;
    text-transform: uppercase;
    transition: color 150ms linear;

    &:hover {
      color: var(--color-logo);
      &::before,
      &::after {
        opacity: 1;
      }
    }
    &::before,
    &::after {
      opacity: 0;
      transition: opacity 150ms linear;
    }
    &::before {
      content: '« '
    }
    &::after {
      content: ' »'
    }
  }
}
