body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
}

header {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: end;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 28rem;
  min-width: 18rem;
  max-height: 20rem;
  min-height: 10rem;
  margin-bottom: 3.8rem;
  overflow: hidden;

  a {
    margin-bottom: 0.2rem;
    line-height: 0;

    img {
      width: 10rem;
    }
  }

  span {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: var(--color-action-default);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background: var(--color-content-background);
    border: 1px solid var(--color-content-border);
    padding: 0.5rem;
    font-size: 0.84rem;
    color: var(--color-content-text-hover);
    width: 18.7rem;
    margin-bottom: 0.5rem;
    outline: none;

    &:hover,
    &:focus {
      background: var(--color-page-background-theme-mix);
    }

    &:focus {
      border-color: var(--color-action-active);
    }
  }

  .cf-turnstile {
    display: flex;
    height: 4rem;
  }

  div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18.7rem;
    margin-top: 0.5rem;

    a {
      color: var(--color-action-default);
      font-size: 0.8rem;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    input[type="submit"] {
      --color-background-opacity: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.5rem;
      height: 2.32rem;
      border: 0;
      border-radius: 0.2rem;
      text-decoration: none;
      text-transform: capitalize;
      padding: 0.5rem 0.25rem;
      transition: background-color 100ms linear, color 100ms linear;
      cursor: pointer;

      &:focus,
      &:hover {
        --color-background-opacity: 100%;
      }
    }

    input[type="submit"] {
      background: color-mix(in srgb, var(--color-modal-update) var(--color-background-opacity), var(--color-white));
      color: var(--color-white);
    }
  }
}

@media (pointer: none), (pointer: coarse) {
  // Increase font size if no pointer device
  // This is really just a hack to stop iOS zooming
  // on the inputs but probably helps on mobile regardless
  form {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      font-size: 1rem;
    }
  }
}

footer {
  display: flex;
  flex-grow: 1;
}
