@import 'shared/userAlbumFileBase';

main {
  section {
    flex-direction: row;
  }

  nav { // Pagination
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: end;
    padding: 0 0 1rem 0;
  }
}

.spacer {
  width: 9rem;
  height: 0;
  margin: 0 0.63rem;
}
