#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: baseline;
  padding-bottom: 55px;
  .preview {
    position: relative;
    margin: 10px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    border: 1px solid;
    .thumbnail {
      position: absolute;
      margin: 50%;
      max-width: 100%;
      max-height: 100%;
      transform: translate(-50%, -50%);
    }
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 !important;
      z-index: 2;
      width: 100%;
      height: 100%;
      &.image {
        background: no-repeat right top/40px url('/img/image.png');
      }
      &.audio {
        background: no-repeat right top/40px url('/img/audio.png');
      }
      &.video {
        background: no-repeat right top/40px url('/img/video.png');
      }
      &.album {
        background: no-repeat right top/40px url('/img/album.png');
      }
    }
    &.private {
      .icon {
        &.image {
          background: no-repeat left bottom/40px url('/img/private.png'), no-repeat right top/40px url('/img/image.png');
        }
        &.audio {
          background-image: no-repeat left bottom/40px url('/img/private.png'), no-repeat right top/40px url('/img/audio.png');
        }
        &.video {
          background-image: no-repeat left bottom/40px url('/img/private.png'), no-repeat right top/40px url('/img/video.png');
        }
        &.album {
          background-image: no-repeat left bottom/40px url('/img/private.png'), no-repeat right top/40px url('/img/album.png');
        }
      }
    }
  }
  .spacer {
    width: 150px;
    height: 0;
    margin: 0 10px;
  }
  .pagination {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;
    cursor: default;
    li {
      list-style: none;
      display: inline-block;
      padding: 4px;
      a {
        font-size: 18px;
        padding: 0 3px;
        i::before {
          margin: 0;
          display: inline;
        }
      }
      &:not(.disabled) {
        a {
          text-decoration: none;
        }
        &.active {
          a {
            border-bottom: 1px dotted;
            font-weight: 600;
            cursor: default;
          }
        }
        &:hover,
        &:active {
          a {
            transition: color 200ms linear;
          }
        }
        &:not(:first-child):not(:nth-child(2)):not(:nth-last-child(2)):not(:last-child) {
          &:hover,
          &:active {
            a {
              border-bottom: 1px dotted;
              font-weight: 600;
            }
          }
        }
      }
      &.disabled {
        opacity: 0;
        a {
          cursor: default;
        }
      }
    }
  }
}

@import 'theme';