body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
}

header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  h1 {
    max-width: 100%;
    font-weight: 400;
    font-variant: small-caps;
    text-transform: lowercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    color: var(--color-header-text);
    padding-left: 1.5rem;
  }
}

body > nav { // Tabs
  display: flex;
  align-self: center;
  justify-content: start;
  width: 100%;
  max-width: 60rem;
  position: relative;
  border-left: 1px solid var(--color-content-border);
  border-right: 1px solid var(--color-transparent);
  margin-bottom: -1px;

  &:has(> span) { // add the side border if we add the right buttons
    border-right: 1px solid var(--color-content-border);
  }

  a {
    background: color-mix(in srgb, var(--color-content-background) 95%, var(--color-white));
    width: 8rem;
    padding: 0.5rem 0.8rem;
    margin: 0;
    font-size: 1rem;
    color: var(--color-content-text);
    text-decoration: none;
    text-align: center;
    border-top: 1px solid var(--color-content-border);
    border-right: 1px solid var(--color-content-border);
    border-bottom: 1px solid var(--color-content-border);
    border-left: 1px solid var(--color-transparent);
    z-index: 1;
    transition: 100ms linear;

    &:hover,
    &.active {
      background: var(--color-content-background);
      color: var(--color-content-text-hover);
      font-weight: 600;
    }

    &.active {
      border-bottom: 1px solid var(--color-transparent);
    }
  }

  span {
    flex-grow: 1;

    & ~ a { // Allow buttons on the right, could be a good style to use for in albums to but the delete/download buttons
      flex-basis: content;
      padding: 0.5rem 0.19rem 0.5rem 0.25rem;
      border-right: 1px solid var(--color-transparent);
      border-left: 1px solid var(--color-content-border);
    }
  }
}

main { // this can be shared with files/albums view
  display: flex;
  flex-direction: column;
  flex-grow: 500;
  align-self: center;
  position: relative;
  max-width: 60rem;
  border: 1px solid var(--color-content-border);
  border-bottom: 0;
  background: var(--color-content-background);

  section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }

  nav { // Pagination
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: end;
    padding: 0 0 1rem 0;
  }
}

.preview {
  position: relative;
  margin: 0.63rem;
  overflow: hidden;
  height: 9rem;
  width: 9rem;
  border: 1px solid var(--color-content-border);
  background: var(--color-transparent-gradiant);

  .thumbnail {
    position: absolute;
    margin: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    z-index: 2;
    width: 100%;
    height: 100%;

    &.image {
      background: no-repeat right top/2.5rem url('/img/types/image.webp');
    }

    &.audio {
      background: no-repeat right top/2.5rem url('/img/types/audio.webp');
    }

    &.video {
      background: no-repeat right top/2.5rem url('/img/types/video.webp');
    }

    &.txt {
      background: no-repeat right top/2.5rem url('/img/types/text.webp');
    }

    &.album {
      background: no-repeat right top/2.5rem url('/img/types/album.webp');
    }
  }

  &.private {
    .icon {
      &.image {
        background: no-repeat left bottom/2.5rem url('/img/types/private.webp'), no-repeat right top/2.5rem url('/img/types/image.webp');
      }

      &.audio {
        background: no-repeat left bottom/2.5rem url('/img/types/private.webp'), no-repeat right top/2.5rem url('/img/types/audio.webp');
      }

      &.video {
        background: no-repeat left bottom/2.5rem url('/img/types/private.webp'), no-repeat right top/2.5rem url('/img/types/video.webp');
      }

      &.txt {
        background: no-repeat left bottom/2.5rem url('/img/types/private.webp'), no-repeat right top/2.5rem url('/img/types/text.webp');
      }

      &.album {
        background: no-repeat left bottom/2.5rem url('/img/types/private.webp'), no-repeat right top/2.5rem url('/img/types/album.webp');
      }
    }
  }

  .album_title {
    position: absolute;
    bottom: -1.8rem;
    color: var(--color-white);
    font-weight: 500;
    background: rgba(36, 41, 46, 0.8);
    text-align: center;
    width: 100%;
    height: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: bottom linear 100ms;
    line-height: 1.8rem;
  }

  .album_items {
    position: absolute;
    right: 0;
    width: 1.5rem;
    color: rgb(80, 81, 82);
    text-decoration: none;
    text-align: center;
    z-index: 9;
    font-weight: 600;
  }

  &:hover {
    .album_title {
      bottom: 0;
    }
  }
}

.spacer {
  width: 9rem;
  height: 0;
  margin: 0 0.63rem;
}


// Invert Text thumbnails in darkmode
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) .thumbnail:has(+ .txt) {
    filter: #{"invert()"};
  }
}
@media (prefers-color-scheme: light) {
  :root[data-theme="light"] .thumbnail:has(+ .txt) {
    filter: #{"invert()"};
  }
}
