<div class="album">
  <a href="{{this.path}}">
    <span class="title">{{this.meta.title}}</span>
    <span class="icon"></span>
    {{#is this.firstItem 'image'}}
      <img src="{{this.directpath}}" />
    {{/is}}
    {{#is this.firstItem 'video'}}
      <img src="/img/placeholder.png" />
    {{/is}}
    {{#is this.firstItem 'audio'}}
      <img src="/img/placeholder.png" />
    {{/is}}
  </a>
</div>