<span class="wrapper">
  <div class="audio">
    <img src="thumbnail/" />
    <span>
      <h1>Loading...</h1>
    <h2>Loading...</h2>
    <h3>Loading...</h3>
    </span>
    <audio controls preload>
      <source src="{{path}}" data-original_filename="{{name}}" />
    </audio>
  </div>
  <div class="actions">
    <a class="action__save" title="Download this audio" href="download/">
      <i class="icon-download"></i>
      <span>Save</span>
    </a>
    {{#if_either_eq uploaded_by @root.album.uploaded_by @session.username this}}
      <a class="action__delete" title="Delete this audio" data-id="/f/{{id}}" data-username="{{uploaded_by}}">
        <i class="icon-trash"></i>
      </a>
    {{/if_either_eq}}
  </div>
</span>
<link rel="stylesheet" href="/css/partials/audio.css" />
<script type="module"  src="/js/partials/audio.js" defer></script>
