<span class="blackout">
  <div id="modal">
    <h2>Confirm Deletion</h2>
    <hr>
    <span>
      <button class="delete">Delete</button>
      <button class="cancel">Cancel</button>
    </span>
  </div>
</span>