<div id="dropzone">
  <span id="dropstate">Click here or Dropfiles</span>
  <span id="progress" class="hidden invisible">
    <span id="fill"></span>
    <span id="text">Uploading: 0%</span>
  </span>
  <input id="files" class="hidden" name="files" type="file" accept="image/*,.webp,video/*,.mkv,audio/*,text/plain" multiple />
</div>
