<div id="dropzone" data-authenticated="{{@authenticated}}">
  {{#if @authenticated}}
    {{#if @root.album}}
      <span id="label">Dropfiles Here</span>
    {{else}}
      <span id="label">Click or Dropfiles Here</span>
    {{/if}}
  {{else}}
    <span id="label">Login to upload files</span>
  {{/if}}
  <span id="progress" class="hidden invisible">
    <span id="fill"></span>
    <span id="text">Uploading: 0%</span>
  </span>
  <input id="files" class="hidden" name="files" type="file" accept="image/*,.webp,video/*,.mkv,audio/*,text/plain" multiple />
</div>
<link href="/css/partials/dropzone.css" rel="stylesheet" />
<script type="module" src="/js/partials/dropzone/dropzone.js"></script>
