<base href="{{@base}}">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover'" />
{{{opengraph @openGraph openGraph}}}
{{#if_contains @env 'dev' this}}
  <link rel="icon" type="image/webp" href="/img/favicon_dev.webp" />
{{else}}
  <link rel="icon" type="image/webp" href="/img/favicon.webp" />
{{/if_contains}}
<link href="/css/base.css" rel="stylesheet" />
<title>{{@title}}</title>
