<span class="wrapper">
  <a class="image" href="{{path}}">
    <img src="{{path}}" />
  </a>
  {{#if_eq @session.username uploaded_by this}}
    <div class="actions">
      <a class="action__delete" title="Delete this Image" data-id="/f/{{id}}" data-username="{{uploaded_by}}">
        <i class="icon-trash"></i>
      </a>
    </div>
  {{/if_eq}}
</span>
