<a class="image" href="{{this.directpath}}">
  <img src="{{this.directpath}}" />
</a>
<!-- WIP -->
{{#if_eq @root.signedin.username this.meta.uploaded.by}}
  <button onclick="deleteFile()">{{signedin.username}} Delete File</button>
{{else}}
  <p>CANT DELETE - DONT OWN FILE</p>
{{/if_eq}}