<div id="logo" {{#if_contains @env 'dev'}}class="dev"{{/if_contains}}>
  <a href="/">
    {{split @title '.' 0}}<span>.{{split @title '.' 1}}</span>
  </a>
</div>
<link href="/css/partials/logo.css" rel="stylesheet" />
