<div id="logo" {{#if_contains @env 'dev'}}class="dev"{{/if_contains}}>
  <a href="/">
    {{{format_title text=@title split='.' tag='span'}}}
  </a>
</div>
<link href="/css/partials/logo.css" rel="stylesheet" />
