<div id="modals" class="blackout" >
  <div id="delete_modal" class="modal">
    <h1>Confirm Deletion</h1>
    <hr>
    <p>
      <i class="icon-attention"></i>
      <span>This action can not be undone</span>
    </p>
    <div>
      <button class="delete">
        <i class="icon-trash"></i>
        Delete
      </button>
      <button class="cancel">
        <i class="icon-cancel"></i>
        Cancel
      </button>
    </div>
  </div>
  <div id="update_modal" class="modal">
    <h1>Confirm Update</h1>
    <hr>
    <p>
      <i class="icon-info-circled"></i>
      <span></span>
    </p>
    <div>
      <button class="update">
        <i class="icon-ok"></i>
        Update
      </button>
      <button class="cancel">
        <i class="icon-cancel"></i>
        Cancel
      </button>
    </div>
  </div>
  {{#if album}}
    {{> dropzone}}
  {{/if}}
</div>
<link href="/css/partials/modals.css" rel="stylesheet" />
<script type="module" src="/js/partials/modals.js"></script>
