<span class="blackout">
  <div id="delete_modal">
    <h2>Confirm Deletion</h2>
    <hr>
    <span>
      <button class="delete">Delete</button>
      <button class="cancel">Cancel</button>
    </span>
  </div>
  <div id="update_modal">
    <h2>Confirm Update</h2>
    <hr>
    <span>
      <button class="update">Update</button>
      <button class="cancel">Cancel</button>
    </span>
  </div>
  <div id="params_modal">
    <h2>[WIP] Params</h2>
    <hr>
    <ul>
      <li>Sort:   [ASC|DESC]</li>
      <li>Filter: [image|audio|video]</li>
      <li>Limit:  [35]</li>
    </ul>
    <span>
      <button class="params">Apply</button>
      <button class="cancel">Cancel</button>
    </span>
  </div>
  {{#if album}}
    {{> dropzone}}
  {{/if}}
</span>
