<div id="modals" class="blackout" >
  {{#if pagination}} {{!-- User page --}}
    <div id="filter_modal" class="modal">
      <h1>Filter Files</h1>
      <hr>
      <p>
        <i class="icon-info-circled"></i>
        <span>Filter the files shown by type</span>
      </p>
      <span>
        <span>Show</span>
        <select id="filter">
          <option value="" {{#unless view.filter}}selected{{/unless}}>All</option>
          <option value="image" {{#if_eq view.filter 'image'}}selected{{/if_eq}}>Image</option>
          <option value="video" {{#if_eq view.filter 'video'}}selected{{/if_eq}}>Video</option>
          <option value="audio" {{#if_eq view.filter 'audio'}}selected{{/if_eq}}>Audio</option>
          <option value="text" {{#if_eq view.filter 'text'}}selected{{/if_eq}}>Text</option>
        </select>
        <span>Files</span>
      </span>
      <div>
        <button class="filter">
          <i class="icon-ok"></i>
          Apply
        </button>
        <button class="cancel">
          <i class="icon-cancel"></i>
          Cancel
        </button>
      </div>
    </div>
  {{/if}}
  {{#if album}} {{!-- Album page --}}
    <div id="update_modal" class="modal">
      <h1>Confirm Update</h1>
      <hr>
      <p>
        <i class="icon-info-circled"></i>
        <span></span>
      </p>
      <div>
        <button class="update">
          <i class="icon-ok"></i>
          Update
        </button>
        <button class="cancel">
          <i class="icon-cancel"></i>
          Cancel
        </button>
      </div>
    </div>
    {{> dropzone}}
  {{/if}}
  {{#if_either file album}} {{!-- Album or File page --}}
    <div id="delete_modal" class="modal">
      <h1>Confirm Deletion</h1>
      <hr>
      <p>
        <i class="icon-attention"></i>
        <span>This action can not be undone</span>
      </p>
      <div>
        <button class="delete">
          <i class="icon-trash"></i>
          Delete
        </button>
        <button class="cancel">
          <i class="icon-cancel"></i>
          Cancel
        </button>
      </div>
    </div>
  {{/if_either}}
</div>
<link href="/css/partials/modals.css" rel="stylesheet" />
<script type="module" src="/js/partials/modals.js"></script>
