<div class="preview">
  <a href="{{this.path}}">
    <span class="image" style="background-image: url('{{this.meta.thumbnail}}')"></span>
    <span class="icon {{this.meta.type}}"></span>
  </a>
</div>