<div class="preview" data-fallback="/img/generic_{{this.meta.type}}.png" style="background: url('{{this.meta.thumbnail}}') center center / contain no-repeat">
  <a href="{{this.path}}">
    <span class="icon {{this.meta.type}}"></span>
  </a>
</div>