<div class="preview{{#unless this.public}} private{{/unless}}">
  <a href="{{this.path}}">
    <img class="thumbnail" src="{{this.meta.thumbnail}}"></img>
    {{#if this.mimetype}}
      {{#if_contains 'image' this.mimetype this}}<span class="icon image"></span>{{/if_contains}}
      {{#if_contains 'audio' this.mimetype this}}<span class="icon audio"></span>{{/if_contains}}
      {{#if_contains 'video' this.mimetype this}}<span class="icon video"></span>{{/if_contains}}
    {{else}}
      <span class="icon album"></span>
    {{/if}}
  </a>
</div>