<div class="preview{{#unless this.meta.public}} private{{/unless}}">
  <a href="{{this.path}}">
    <img class="thumbnail" src="{{this.meta.thumbnail}}"></img>
    <span class="icon {{this.meta.type}}"></span>
  </a>
</div>