<div class="preview">
  <a href="{{this.path}}">
    <span class="icon {{this.meta.type}}"></span>
    <img src="{{this.meta.thumbnail}}" onerror="this.src='/img/generic_{{this.meta.type}}.png'" />
  </a>
</div>