<div class="preview" style="background-image: url('{{this.meta.thumbnail}}'), url('/img/generic_{{this.meta.type}}.png')">
  <a href="{{this.path}}">
    <span class="icon {{this.meta.type}}"></span>
  </a>
</div>