<div class="preview" data-fallback="/img/generic_{{this.meta.type}}.png" style="background-image: url('{{this.meta.thumbnail}}')">
  <a href="{{this.path}}">
    <span class="icon {{this.meta.type}}"></span>
  </a>
</div>