<span class="wrapper">
  <div class="video">
    <video controls preload>
      <source src="{{path}}" />
    </video>
  </div>
  <div class="actions">
    <a class="action__save" title="Download this video" href="download/">
      <i class="icon-download"></i>
      <span>Save</span>
    </a>
    {{#if_either_eq uploaded_by @root.album.uploaded_by @session.username this}}
      <a class="action__delete" title="Delete this video" data-id="/f/{{id}}" data-username="{{uploaded_by}}">
        <i class="icon-trash"></i>
      </a>
    {{/if_either_eq}}
  </div>
</span>
<link rel="stylesheet" href="/css/partials/video.css" />
<script type="module"  src="/js/partials/video.js" defer></script>
