<div class="video__player">
  <video>
    <source src="{{this.directpath}}" type="{{this.meta.mimetype}}" />
  </video>
  <div class="video__controls">
    <button class="playback__playPause paused" title="Play">
      <i class="icon-play"></i>
    </button>
    <span class="playback__clock">
      <span class="playback__time">0:00</span> / <span class="playback__length">0:00</span>
    </span>
    <span class="playback__bar">
      <span class="playback__buffer"></span>
      <span class="playback__progress"></span>
    </span>
    <span class="playback__volume">
      <button class="volume__muteUnmute unmuted" title="Mute">
        <i class="icon-volume-up"></i>
      </button>
      <input class="volume__control" type="range" min="0" max="1" step="0.01" value="1" />
    </span>
    <span class="playback__extra">
      <a class="control__breakout" title="View on seperate page" href="{{this.path}}">
        <i class="icon-link-ext"></i>
      </a>
      <a class="control__download" title="Download this File" href="{{this.downloadpath}}">
        <i class="icon-download"></i>
      </a>
      <button class="control__fullscreen" title="Fullscreen">
        <i class="icon-resize-full"></i>
      </button>
    </span>
  </div>
</div>