docs/.ignore/**
node_modules/**

storage/image/**
storage/audio/**
storage/video/**
storage/thumbnail/**
storage/temp/**
storage/database/*.db*


# VS Code workspace
# (needs special rule thanks to the
# '.red', and i don't want to add
# it to my global .gitignore file)
  *.red.code-workspace