@import 'shared';
@import 'media';

#container {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  margin: 0 auto;
  padding: 15px;
  max-width: 960px;
  min-height: calc(100vh - 85px);
  border: 1px solid;
}

header {
  h1 {
    .album__download,
    .album__delete {
      top: 28px;
      right: 0;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
    }
    .album__delete {
      opacity: 0;
      visibility: collapse;
      transition: opacity 250ms linear, visibility 250ms linear;
    }
  }
  &:hover {
    h1 {
      .album__delete {
        opacity: 1;
        visibility: visible;
        transition: opacity 250ms linear, visibility 0ms linear;
      }
    }
  }
}
.wrapper {
  position: relative;
  margin: 0 auto 10px;
  &:hover {
    .actions {
      opacity: 1;
      visibility: visible;
      transition: opacity 250ms linear, visibility 0ms linear;
    }
  }
  .actions {
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0;
    visibility: collapse;
    transition: opacity 250ms linear, visibility 250ms linear;
    .action__delete {
      display: inline-block;
      text-align: center;
      line-height: 2;
      font-size: 16px;
      width: 37px;
      height: 37px;
      padding: 0px;
      border: 1px;
      border-style: solid;
      cursor: pointer;
    }
  }
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
  &.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms linear, visibility 0ms linear;
  }
  #modal {
    position: relative;
    width: 250px;
    height: 100px;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    border: 1px;
    border-style: solid;
    h2 {
      font-weight: 600;
      font-size: 18px;
      padding: 5px;
    }
    hr {
      height: 1px;
      border: 0;
      padding: 0;
    }
    span {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 5px;
      button {
        width: 70px;
        height: 25px;
        border: 1px;
        border-style: solid;
        cursor: pointer;
        transition: background-color 100ms linear, color 100ms linear;
        &:hover {
          &.cancel {
            font-weight: 700;
          }
        }
      }
    }
  }
}