@import 'shared';
@import 'media';

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  .preview {
    position: relative;
    margin: 10px;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 !important;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-size: 40px;
      background-position: right top;
      background-repeat: no-repeat;
      &.image {
        background-image: url('/img/image.png');
      }
      &.audio {
        background-image: url('/img/audio.png');
      }
      &.video {
        background-image: url('/img/video.png');
      }
      &.album {
        background-image: url('/img/album.png');
      }
    }
  }
  .spacer {
    width: 200px;
    height: 0;
    margin: 0 10px;
  }
}