@import 'shared';
@import 'media';

.album {
  margin: 10px auto;
  span {
    display: block;
    font-size: 25px;
    font-weight: 600;
    padding: 0 0 5px 0;
  }
  &, a {
    color: rgb(119, 119, 119);
    text-align: center;
    text-decoration: none;
  }
  &:hover {
    &, a {
      text-decoration: underline;
      text-decoration-color: rgb(219, 3, 3);
    }
  }
}