<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover'" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" href="/scss/common.scss" />
    <link rel="stylesheet" href="/scss/admin.scss" />
    <link rel="stylesheet" href="/scss/theme.scss" />
    <script src="/js/admin.js"></script>
    <title>{{server.name.fullname}} | Admin</title>
  </head>
  <body class="light">
    <header>
      {{> logo server}}
      <h1></h1>
    </header>
    <div id="container">
      <ul class="tab_container">
        <li class="tab active">
          <a>Live Log</a>
        </li>
      </ul>
      <div class="log_container">
        <pre class="log"></pre>
      </div>
    </div>
    {{> modals}}
  </body>
</html>