<!DOCTYPE html>
<html>
  <head>
    {{> shared/head}}
    <link rel="stylesheet" href="/scss/debug.scss" />
  </head>
  <body>
    <h1>DEBUG</h1>
    <h2>{{route}}</h2>
    <pre>
      <code>
        {{json @root}}
      </code>
    </pre>
    <script>
      let code = document.querySelector('pre code')
      let text = code.textContent
      code.textContent = text.replace(new RegExp(text.match(/\s*\n[\t\s]*/), 'g'), '\n')
    </script>
  </body>
</html>