<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      video,
      audio {
        width: 100%;
      }
  </style>
  </head>
  <body>
    {{#is embed 'video'}}
      <video controls>
        <source src="{{this.directpath}}" />
      </video>
    {{/is}}
    {{#is embed 'audio'}}
      <audio controls>
        <source src="{{this.directpath}}" />
      </audio>
    {{/is}}
  </body>
</html>