<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      video,
      audio {
        width: 100%;
      }
  </style>
  </head>
  <body>
    {{#is embeded 'video'}}
      <video src="{{this.directpath}}" controls></video>
    {{/is}}
    {{#is embeded 'audio'}}
      <audio src="{{this.directpath}}" controls></audio>
    {{/is}}
  </body>
</html>