<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/error.css">
  </head>
  <body>
    {{> themeToggle}}
    <header>{{> logo}}</header>
    <main>
      <section>
        <h1>{{status}}</h1>
        <h2>{{message}}</h2>
        <p>{{description}}</p>
        {{#if_eq_or @env 'dev' @session.isAdmin}}
          <pre>{{#if stack}}{{stack}}{{/if}}</pre>
        {{/if_eq_or}}
        <span>
          <a href="/">Return to Homepage</a>
        </span>
      </section>
    </main>
  </body>
</html>
