<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/error.css">
  </head>
  <body>
    <h1>{{message}}</h1>
    <h2>{{status}}</h2>
    <pre>{{#if stack}}{{stack}}{{/if}}</pre>
  </body>
</html>
