<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/error.css">
  </head>
  <body>
    {{> themeToggle}}
    <header>
      {{> logo}}
      <h1></h1>
    </header>
    <div id="container">
      <h1>{{status}}</h1>
      <h2>{{message}}</h2>
      <p>{{description}}</p>
      {{#if_eq_or @env 'dev' @session.isAdmin this}}
        <pre>{{#if stack}}{{stack}}{{/if}}</pre>
      {{/if_eq_or}}
      <a id="goHome" href="/">Return to Homepage</a>
    </div>
  </body>
</html>
