<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/file.css" />
    <script type="module"  src="/js/file.js" defer></script>
  </head>
  <body>
    {{> themeToggle}}
    <header>{{> logo}}</header>
    <main>
      <section>
        {{#if_contains file.type 'image' file}}
          {{> image this}}
        {{/if_contains}}
        {{#if_contains file.type 'video' file}}
          {{> video this}}
        {{/if_contains}}
        {{#if_contains file.type 'audio' file}}
          {{> audio this}}
        {{/if_contains}}
        {{#if_contains file.type 'text' file}}
          {{> text this}}
        {{/if_contains}}
      </section>
    </main>
  </body>
</html>
