<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/file.css" />
    <script type="module" src="/js/file.js"></script>
  </head>
  <body>
    {{> themeToggle}}
    <header>{{> logo}}</header>
    <main>
      <section data-username="{{file.uploadedBy}}">
        {{#with file}}
          {{#if_contains type 'image'}}
            {{> image}}
          {{/if_contains}}
          {{#if_contains type 'video'}}
            {{> video}}
          {{/if_contains}}
          {{#if_contains type 'audio'}}
            {{> audio}}
          {{/if_contains}}
          {{#if_contains type 'text'}}
            {{> text}}
          {{/if_contains}}
        {{/with}}
      </section>
      {{> modals}}
    </main>
  </body>
</html>
