<!DOCTYPE html>
<html>
  <head>
    {{> shared/head}}
    <link rel="stylesheet" href="/scss/common.scss" />
    <script src="/js/common.js"></script>
    <script src="/js/media.js"></script>
  </head>
  <body class="light">
    <header>
      {{> logo server}}
      <h1></h1>
    </header>
    <div id="container">
      {{#if_contains file.mimetype 'image' file}}
        {{> image this}}
      {{/if_contains}}
      {{#if_contains file.mimetype 'video' file}}
        {{> video this}}
      {{/if_contains}}
      {{#if_contains file.mimetype 'audio' file}}
        {{> audio this}}
      {{/if_contains}}
    </div>
    {{> modals}}
  </body>
</html>