<!DOCTYPE html>
<html>
  <head>
    {{> shared/head}}
    <link rel="stylesheet" href="/scss/common.scss" />
    <script src="/js/common.js"></script>
    <script src="/js/media.js"></script>
  </head>
  <body class="light">
    <header>
      {{> logo server}}
      <h1></h1>
    </header>
    <div id="container">
      {{#is file 'image'}}
        {{> image this}}
      {{/is}}
      {{#is file 'video'}}
        {{> video this}}
      {{/is}}
      {{#is file 'audio'}}
        {{> audio this}}
      {{/is}}
    </div>
    {{> modals}}
  </body>
</html>