<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/info.css" />
    <script type="module" src="/js/info.js"></script>
  </head>
  <body>
    {{> themeToggle}}
    <header>
      {{> logo}}
      <h1>
        <a href="../">{{username}}</a>
      </h1>
    </header>
    <main>
      <section>
        <div id="table">
          <div class="row">
            <span>
              <i class="icon-docs"></i>
              Total Files
            </span>
            <span>{{totalFiles}}</span>
          </div>
          <div class="row">
            <span>
              <i class="icon-folder-empty"></i>
              Total Albums
            </span>
            <span>{{totalAlbums}}</span>
          </div>
          <div class="row">
            <span>
              <i class="icon-hdd"></i>
              Total Size
            </span>
            <span class="totalSize">{{totalSize}}</span>
          </div>
        </div>
        {{#if @session.isAdmin}}
          <span>
            <a href="/admin">Go to Admin Page</a>
          </span>
        {{/if}}
      </section>
    </main>
  </body>
</html>
