<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/login_signup.css" />
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
  </head>
  <body>
    {{> themeToggle}}
    <header>
      {{> logo}}
    </header>
    <main>
      <section>
        <form method="POST" action="/login">
          <input name="username" type="text" placeholder="Username" />
          <input name="password" type="password" placeholder="Password" />
          {{#if captcha}}
            <div class="cf-turnstile" data-sitekey="{{captcha}}" data-appearance="always"></div>
          {{/if}}
          <div>
            <a href="/signup">Don't have an Account? Sign up</a>
            <input name="submit" type="submit" value="login" />
          </div>
        </form>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
