<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/login_signup.css" />
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
  </head>
  <body>
    {{> themeToggle}}
    <header>
      {{> logo}}
    </header>
    <main>
      <section>
        <form method="POST" action="/signup">
          <input name="username" type="text" placeholder="Username" />
          <input name="email" type="email" placeholder="Email" />
          <input name="password" type="password" placeholder="Password" />
          <input name="passwordConfirm" type="password" placeholder="Confirm Password" />
          {{#if captcha}}
            <div class="cf-turnstile" data-sitekey="{{captcha}}" data-appearance="always"></div>
          {{/if}}
          <input name="submit" type="submit" value="sign up" />
        </form>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
