<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/user.css" />
    <script type="module" src="/js/user.js"></script>
  </head>
  <body>
    {{> themeToggle}}
    <header>
      {{> logo}}
      <h1>
        <a href="info/">{{view.username}}</a>
      </h1>
    </header>
    <nav>
      {{#if_eq view.type 'albums'}}
        <a href="..">Files</a>
        <a class="active">Albums</a>
      {{else}}
        <a class="active">Files</a>
        <a href="albums/">Albums</a>
        <span></span>
        <a class="user__filter" title="Filter uploads">
          <i class="icon-sliders"></i>
          <span>Filter</span>
        </a>
      {{/if_eq}}
    </nav>
    <main>
      <section>
        {{#each uploads}}
          {{> preview}}
        {{/each}}
        {{#repeat 5}}
          <div class="spacer"></div>
        {{/repeat}}
      </section>
      <nav>
        {{> paginator}}
      </nav>
      {{> modals}}
    </main>
  </body>
</html>
