:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-transparent: rgba(0, 0, 0, 0);
  --color-logo: rgb(219, 3, 3);
  --color-logo-dev: rgb(56, 137, 234);
  --color-header-text: rgb(119, 119, 119);
  --color-page-background-theme-mix: color-mix(in srgb, var(--color-page-background) 40%, var(--color-theme));
  --color-progress-border: rgb(218, 223, 227);
  --color-progress-fill: rgb(56, 136, 234);
  --color-progress-fill-processing: rgb(136, 234, 56);
  --color-progress-fill-warning: rgb(234, 234, 56);
  --color-progress-fill-error: rgb(234, 56, 56);
  --color-progress-text: rgb(157, 162, 165);
  --color-action-delete: rgb(234, 56, 56);
  --color-action-default: rgb(119, 119, 119);
  --color-action-active: rgb(56, 137, 234);
  --color-modal-delete: rgb(234, 56, 56);
  --color-modal-update: rgb(57, 136, 234);
  --color-modal-cancel: rgb(56, 136, 234);
}

:root[data-theme=dark],
:root:not([data-theme=light]) {
  --color-theme: rgb(0, 0, 0);
  --color-theme-inverted: rgb(255, 255, 255);
  --color-transparent-gradiant: url("/img/element/transparent_dark.webp");
  --color-page-background: rgb(10, 10, 10);
  --color-content-background: rgb(30, 30, 30);
  --color-content-border: rgb(60, 60, 60);
  --color-content-text: rgb(132, 126, 126);
  --color-content-text-hover: rgb(232, 228, 222);
  --color-action-background: rgb(36, 41, 46);
  --color-action-border: rgb(218, 223, 227);
  --color-modal-background: rgb(36, 41, 46);
  --color-modal-border: rgb(10, 10, 10);
  --color-modal-header: rgb(250, 250, 250);
  --color-modal-divider: rgb(10, 10, 10);
  --color-modal-text: rgb(250, 250, 250);
  --color-modal-default: rgb(10, 10, 10);
  --color-footer-text: rgb(36, 41, 46);
  --color-footer-text-hover: rgb(218, 223, 227);
  --color-error-text: rgb(222, 222, 222);
}

:root[data-theme=light],
:root:not([data-theme=dark]) {
  --color-theme: rgb(255, 255, 255);
  --color-theme-inverted: rgb(0, 0, 0);
  --color-transparent-gradiant: url("/img/element/transparent_light.webp");
  --color-page-background: rgb(250, 250, 250);
  --color-content-background: rgb(232, 235, 237);
  --color-content-border: rgb(218, 223, 227);
  --color-content-text: rgb(198, 203, 207);
  --color-content-text-hover: rgb(36, 41, 46);
  --color-action-background: rgb(218, 223, 227);
  --color-action-border: rgb(36, 41, 46);
  --color-modal-background: rgb(250, 250, 250);
  --color-modal-border: rgb(218, 223, 227);
  --color-modal-header: rgb(10, 10, 10);
  --color-modal-divider: rgb(218, 223, 227);
  --color-modal-text: rgb(10, 10, 10);
  --color-modal-default: rgb(218, 223, 227);
  --color-footer-text: rgb(218, 223, 227);
  --color-footer-text-hover: rgb(36, 41, 46);
  --color-error-text: rgb(32, 32, 32);
}

@media (prefers-color-scheme: light) {
  :root[data-theme=light],
  :root:not([data-theme=dark]) {
    --color-theme: rgb(255, 255, 255);
    --color-theme-inverted: rgb(0, 0, 0);
    --color-transparent-gradiant: url("/img/element/transparent_light.webp");
    --color-page-background: rgb(250, 250, 250);
    --color-content-background: rgb(232, 235, 237);
    --color-content-border: rgb(218, 223, 227);
    --color-content-text: rgb(198, 203, 207);
    --color-content-text-hover: rgb(36, 41, 46);
    --color-action-background: rgb(218, 223, 227);
    --color-action-border: rgb(36, 41, 46);
    --color-modal-background: rgb(250, 250, 250);
    --color-modal-border: rgb(218, 223, 227);
    --color-modal-header: rgb(10, 10, 10);
    --color-modal-divider: rgb(218, 223, 227);
    --color-modal-text: rgb(10, 10, 10);
    --color-modal-default: rgb(218, 223, 227);
    --color-footer-text: rgb(218, 223, 227);
    --color-footer-text-hover: rgb(36, 41, 46);
    --color-error-text: rgb(32, 32, 32);
  }
}
@media (prefers-color-scheme: dark) {
  :root[data-theme=dark],
  :root:not([data-theme=light]) {
    --color-theme: rgb(0, 0, 0);
    --color-theme-inverted: rgb(255, 255, 255);
    --color-transparent-gradiant: url("/img/element/transparent_dark.webp");
    --color-page-background: rgb(10, 10, 10);
    --color-content-background: rgb(30, 30, 30);
    --color-content-border: rgb(60, 60, 60);
    --color-content-text: rgb(132, 126, 126);
    --color-content-text-hover: rgb(232, 228, 222);
    --color-action-background: rgb(36, 41, 46);
    --color-action-border: rgb(218, 223, 227);
    --color-modal-background: rgb(36, 41, 46);
    --color-modal-border: rgb(10, 10, 10);
    --color-modal-header: rgb(250, 250, 250);
    --color-modal-divider: rgb(10, 10, 10);
    --color-modal-text: rgb(250, 250, 250);
    --color-modal-default: rgb(10, 10, 10);
    --color-footer-text: rgb(36, 41, 46);
    --color-footer-text-hover: rgb(218, 223, 227);
    --color-error-text: rgb(222, 222, 222);
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("/font/OpenSans-VariableFont_wdth,wght.ttf") format("truetype supports variations"), url("/font/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  transition: 100ms linear;
}

body {
  overflow: hidden overlay;
  color: var(--color-theme-inverted);
  background-color: var(--color-page-background);
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

@font-face {
  font-family: "icons";
  src: url("../font/icons.eot?80553060");
  src: url("../font/icons.eot?80553060#iefix") format("embedded-opentype"), url("../font/icons.woff2?80553060") format("woff2"), url("../font/icons.woff?80553060") format("woff"), url("../font/icons.ttf?80553060") format("truetype"), url("../font/icons.svg?80553060#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  font-size: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e800";
}

.icon-eye-off:before {
  content: "\e801";
}

.icon-eye:before {
  content: "\e802";
}

.icon-cog:before {
  content: "\e803";
}

.icon-adjust:before {
  content: "\e804";
}

.icon-info-circled:before {
  content: "\e805";
}

.icon-help-circled:before {
  content: "\e806";
}

.icon-edit:before {
  content: "\e807";
}

.icon-heart:before {
  content: "\e808";
}

.icon-heart-empty:before {
  content: "\e809";
}

.icon-star:before {
  content: "\e80a";
}

.icon-star-empty:before {
  content: "\e80b";
}

.icon-th-large:before {
  content: "\e80c";
}

.icon-th:before {
  content: "\e80d";
}

.icon-th-list:before {
  content: "\e80e";
}

.icon-minus:before {
  content: "\e80f";
}

.icon-minus-circled:before {
  content: "\e810";
}

.icon-plus-circled:before {
  content: "\e811";
}

.icon-music:before {
  content: "\e812";
}

.icon-cancel-circled2:before {
  content: "\e813";
}

.icon-cancel-circled:before {
  content: "\e814";
}

.icon-ok-circled2:before {
  content: "\e815";
}

.icon-ok-circled:before {
  content: "\e816";
}

.icon-bookmark:before {
  content: "\e817";
}

.icon-tags:before {
  content: "\e818";
}

.icon-attention:before {
  content: "\e819";
}

.icon-attention-circled:before {
  content: "\e81a";
}

.icon-video:before {
  content: "\e81b";
}

.icon-picture:before {
  content: "\e81c";
}

.icon-trash-empty:before {
  content: "\e81d";
}

.icon-ok:before {
  content: "\e81e";
}

.icon-cancel:before {
  content: "\e81f";
}

.icon-plus:before {
  content: "\e820";
}

.icon-upload:before {
  content: "\e821";
}

.icon-pencil:before {
  content: "\e822";
}

.icon-cw:before {
  content: "\e823";
}

.icon-pause:before {
  content: "\e824";
}

.icon-stop:before {
  content: "\e825";
}

.icon-play:before {
  content: "\e826";
}

.icon-volume-off:before {
  content: "\e827";
}

.icon-volume-down:before {
  content: "\e828";
}

.icon-volume-up:before {
  content: "\e829";
}

.icon-cog-alt:before {
  content: "\e82a";
}

.icon-link:before {
  content: "\e82b";
}

.icon-resize-full:before {
  content: "\e82c";
}

.icon-floppy:before {
  content: "\e82d";
}

.icon-ccw:before {
  content: "\e82e";
}

.icon-resize-small:before {
  content: "\e82f";
}

.icon-user:before {
  content: "\e830";
}

.icon-logout:before {
  content: "\e831";
}

.icon-link-ext-alt:before {
  content: "\f08e";
}

.icon-bookmark-empty:before {
  content: "\f097";
}

.icon-list-numbered:before {
  content: "\f0cb";
}

.icon-doc-text:before {
  content: "\f0f6";
}

.icon-plus-squared:before {
  content: "\f0fe";
}

.icon-angle-double-left:before {
  content: "\f100";
}

.icon-angle-double-right:before {
  content: "\f101";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-code:before {
  content: "\f121";
}

.icon-unlink:before {
  content: "\f127";
}

.icon-help:before {
  content: "\f128";
}

.icon-info:before {
  content: "\f129";
}

.icon-attention-alt:before {
  content: "\f12a";
}

.icon-minus-squared:before {
  content: "\f146";
}

.icon-minus-squared-alt:before {
  content: "\f147";
}

.icon-ok-squared:before {
  content: "\f14a";
}

.icon-pencil-squared:before {
  content: "\f14b";
}

.icon-link-ext:before {
  content: "\f14c";
}

.icon-plus-squared-alt:before {
  content: "\f196";
}

.icon-file-image:before {
  content: "\f1c5";
}

.icon-file-archive:before {
  content: "\f1c6";
}

.icon-file-audio:before {
  content: "\f1c7";
}

.icon-file-video:before {
  content: "\f1c8";
}

.icon-file-code:before {
  content: "\f1c9";
}

.icon-sliders:before {
  content: "\f1de";
}

.icon-share:before {
  content: "\f1e0";
}

.icon-share-squared:before {
  content: "\f1e1";
}

.icon-trash:before {
  content: "\f1f8";
}

.icon-question-circle-o:before {
  content: "\f29c";
}

.icon-user-o:before {
  content: "\f2c0";
}

/*# sourceMappingURL=base.css.map */
