body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
}

header {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: end;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 0;
  transition: opacity 200ms linear;
}
#buttons .button {
  padding: 0 1rem;
  cursor: pointer;
}
#buttons .button, #buttons .button a {
  font-weight: 600;
  transition: color 200ms linear;
  text-decoration: none;
  color: var(--color-content-text);
}
#buttons .button:hover, #buttons .button.active, #buttons .button a:hover, #buttons .button a.active {
  color: var(--color-content-text-hover);
}
#buttons .button::before, #buttons .button a::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(50%) translateY(-0.35rem) rotate(-45deg);
  width: 0.25em;
  height: 0.25em;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  opacity: 0;
  transition: opacity 200ms linear;
}
#buttons .button.active::before, #buttons .button a.active::before {
  opacity: 1;
}
#buttons .button:not(:last-child) {
  border-right: 1px dotted var(--color-content-border);
}

#settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  max-width: 48rem;
  min-width: 18rem;
  height: 25dvh;
  max-height: 15rem;
  min-height: 10rem;
  transition: opacity 200ms;
}
#settings::before {
  position: absolute;
  content: "";
  height: 8rem;
  width: 16rem;
  background-color: var(--color-page-background-theme-mix);
}
#settings .setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 16rem;
  margin: 0.15rem 0;
}
#settings .setting span {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  padding: 0 1rem 0 0;
  font-weight: 400;
  cursor: default;
  color: color-mix(in srgb, var(--color-content-text-hover) 80%, var(--color-theme));
}
#settings .setting .switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
}
#settings .setting .switch input {
  display: none;
}
#settings .setting .switch input:checked + .slider {
  background-color: var(--color-progress-fill);
}
#settings .setting .switch input:checked + .slider::before {
  transform: translateX(1.25rem);
}
#settings .setting .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 400ms;
  background-color: var(--color-content-background);
}
#settings .setting .switch .slider::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  margin: 0.125rem;
  transition: 400ms;
  background-color: var(--color-white);
}
#settings .setting select {
  height: 1.25rem;
  border: 0;
  font-weight: 600;
  color: var(--color-theme-inverted);
  background-color: var(--color-page-background-theme-mix);
  z-index: 1;
}

footer {
  display: flex;
  flex-grow: 1;
  align-items: end;
  justify-content: center;
}
footer a {
  padding: 1rem;
}
footer a > svg {
  width: 24px;
  height: 24px;
  transition: fill 200ms;
  fill: var(--color-footer-text);
}
footer a:hover > svg {
  fill: var(--color-footer-text-hover);
}

/*# sourceMappingURL=home.css.map */
