* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("/font/OpenSans-VariableFont_wdth,wght.ttf") format("truetype supports variations"), url("/font/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
}
body {
  overflow: hidden overlay;
  font-family: "Open Sans", "Helvetica Neue", Tahoma, Verdana, Helvetica, Arial, sans-serif;
  /* font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', Tahoma, Verdana, Helvetica, Arial,  sans-serif; */
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.no_transition {
  transition: none !important;
}

#logo {
  text-align: center;
}
#logo a {
  font-size: 40px;
  text-transform: uppercase;
  font-variant: small-caps;
  text-decoration: none;
  line-height: 85px;
  justify-self: start;
  user-select: none;
  outline: none;
}
#logo a span {
  font-weight: bold;
  text-transform: lowercase;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 220px auto;
  max-width: 960px;
  margin: 0 auto;
}
header #logo {
  text-align: left;
}
header h1 {
  height: 85px;
  max-width: 100%;
  font-weight: 400;
  line-height: 85px;
  justify-self: end;
  font-variant: small-caps;
  text-transform: lowercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
header h1.editable {
  cursor: text;
}
header h1 .album__download,
header h1 .album__delete {
  top: 28px;
  right: 0;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}
header h1 .album__delete {
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
}
header h1 .album__title_input {
  position: absolute;
  top: 15px;
  right: 1px;
  padding: 5px;
  width: 100%;
  max-width: calc(100% - 250px);
  font-size: 32px;
  font-variant: small-caps;
  text-align: right;
  border: 1px dashed;
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
}
header h1 .album__title_input.editable {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 0ms linear;
}
header:hover h1 .album__delete {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 0ms linear;
}

.wrapper {
  position: relative;
  margin: 0 auto;
}
.wrapper:not(:last-child) {
  margin: 0 auto 10px;
}
.wrapper.fullwidth {
  width: 100%;
  min-height: 50px;
  overflow: hidden;
}
.wrapper:hover .actions {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 0ms linear;
}
.wrapper .actions {
  position: absolute;
  right: 2px;
  top: 2px;
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.wrapper .actions .action__delete,
.wrapper .actions .action__raw {
  float: right;
  margin: 2px;
  text-align: center;
  padding: 7px 0 0 0;
  font-size: 16px;
  width: 37px;
  height: 37px;
  border: 1px;
  border-style: solid;
  cursor: pointer;
}
.wrapper .actions .action__raw {
  padding: 9px 0 0 0;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
  z-index: 100;
}
.blackout.delete, .blackout.update, .blackout.params, .blackout.dropzone {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 0ms linear;
}
.blackout.delete #delete_modal {
  visibility: visible;
}
.blackout.update #update_modal {
  visibility: visible;
}
.blackout.params #params_modal {
  visibility: visible;
}
.blackout.dropzone #dropzone {
  visibility: visible;
}
.blackout #delete_modal,
.blackout #update_modal,
.blackout #params_modal {
  position: relative;
  width: 250px;
  height: 100px;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  border: 1px;
  border-style: solid;
  visibility: collapse;
}
.blackout #delete_modal h2,
.blackout #update_modal h2,
.blackout #params_modal h2 {
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
}
.blackout #delete_modal hr,
.blackout #update_modal hr,
.blackout #params_modal hr {
  height: 1px;
  border: 0;
  padding: 0;
}
.blackout #delete_modal span,
.blackout #update_modal span,
.blackout #params_modal span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}
.blackout #delete_modal span button,
.blackout #update_modal span button,
.blackout #params_modal span button {
  width: 70px;
  height: 25px;
  border: 1px;
  border-style: solid;
  cursor: pointer;
  transition: background-color 100ms linear, color 100ms linear;
}
.blackout #delete_modal span button:hover.cancel,
.blackout #update_modal span button:hover.cancel,
.blackout #params_modal span button:hover.cancel {
  font-weight: 700;
}
.blackout #params_modal {
  height: 150px;
}
.blackout #dropzone {
  visibility: collapse;
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: baseline;
  padding-bottom: 55px;
}
#container .preview {
  position: relative;
  margin: 10px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border: 1px solid;
}
#container .preview .thumbnail {
  position: absolute;
  margin: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}
#container .preview .icon {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  z-index: 2;
  width: 100%;
  height: 100%;
}
#container .preview .icon.image {
  background: no-repeat right top/40px url("/img/types/image.webp");
}
#container .preview .icon.audio {
  background: no-repeat right top/40px url("/img/types/audio.webp");
}
#container .preview .icon.video {
  background: no-repeat right top/40px url("/img/types/video.webp");
}
#container .preview .icon.txt {
  background: no-repeat right top/40px url("/img/types/text.webp");
}
#container .preview .icon.album {
  background: no-repeat right top/40px url("/img/types/album.webp");
}
#container .preview.private .icon.image {
  background: no-repeat left bottom/40px url("/img/types/private.webp"), no-repeat right top/40px url("/img/types/image.webp");
}
#container .preview.private .icon.audio {
  background: no-repeat left bottom/40px url("/img/types/private.webp"), no-repeat right top/40px url("/img/types/audio.webp");
}
#container .preview.private .icon.video {
  background: no-repeat left bottom/40px url("/img/types/private.webp"), no-repeat right top/40px url("/img/types/video.webp");
}
#container .preview.private .icon.txt {
  background: no-repeat left bottom/40px url("/img/types/private.webp"), no-repeat right top/40px url("/img/types/text.webp");
}
#container .preview.private .icon.album {
  background: no-repeat left bottom/40px url("/img/types/private.webp"), no-repeat right top/40px url("/img/types/album.webp");
}
#container .preview .album_title {
  position: absolute;
  bottom: -27px;
  padding: 3px;
  color: rgb(250, 250, 250);
  font-weight: 500;
  background: rgba(36, 41, 46, 0.8);
  text-align: center;
  width: 100%;
  height: 27px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: bottom linear 100ms;
}
#container .preview .album_items {
  position: absolute;
  right: 0;
  width: 24px;
  color: rgb(80, 81, 82);
  text-decoration: none;
  text-align: center;
  z-index: 9;
  font-weight: 600;
}
#container .preview:hover .album_title {
  bottom: 0;
}
#container .spacer {
  width: 150px;
  height: 0;
  margin: 0 10px;
}
#container .pagination {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  padding: 15px 0 0 0;
  cursor: default;
}
#container .pagination li {
  list-style: none;
  display: inline-block;
  padding: 4px;
}
#container .pagination li a {
  font-size: 18px;
  padding: 0 3px;
  position: relative;
}
#container .pagination li a i::before {
  margin: 0;
  display: inline;
}
#container .pagination li:not(.disabled) a {
  text-decoration: none;
}
#container .pagination li:not(.disabled).active a {
  border-bottom: 1px dotted;
  font-weight: 600;
  cursor: default;
}
#container .pagination li:not(.disabled):hover a, #container .pagination li:not(.disabled):active a {
  transition: color 200ms linear;
}
#container .pagination li:not(.disabled):not(:first-child):not(:nth-child(2)):not(:nth-last-child(2)):not(:last-child):hover a, #container .pagination li:not(.disabled):not(:first-child):not(:nth-child(2)):not(:nth-last-child(2)):not(:last-child):active a {
  border-bottom: 1px dotted;
}
#container .pagination li:not(.disabled):not(:first-child):not(:nth-child(2)):not(:nth-last-child(2)):not(:last-child):hover a::after, #container .pagination li:not(.disabled):not(:first-child):not(:nth-child(2)):not(:nth-last-child(2)):not(:last-child):active a::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
#container .pagination li.disabled {
  opacity: 0;
}
#container .pagination li.disabled a {
  cursor: default;
}

body {
  background-color: rgb(250, 250, 250);
}

#logo a {
  color: rgb(219, 3, 3);
}
#logo.dev a {
  color: rgb(56, 137, 234);
}

header h1, header h1 .album__download {
  color: rgb(119, 119, 119);
}
header h1 .album__delete {
  color: rgb(234, 56, 56);
}
header h1 .album__title_input {
  border-color: rgb(218, 223, 227);
}

#container {
  background: rgb(232, 235, 237);
  border-color: rgb(218, 223, 227);
}

.wrapper .actions .action__delete,
.wrapper .actions .action__raw {
  background-color: rgb(218, 223, 227);
  border-color: rgb(36, 41, 46);
}
.wrapper .actions .action__delete {
  color: rgb(234, 56, 56);
}
.wrapper .actions .action__raw {
  color: rgb(36, 41, 46);
}

.blackout {
  background-color: rgba(0, 0, 0, 0.8);
}
.blackout #delete_modal,
.blackout #update_modal,
.blackout #params_modal {
  background-color: rgb(232, 235, 237);
  border-color: rgb(208, 213, 217);
}
.blackout #delete_modal h2,
.blackout #update_modal h2,
.blackout #params_modal h2 {
  color: rgb(119, 119, 119);
}
.blackout #delete_modal hr,
.blackout #update_modal hr,
.blackout #params_modal hr {
  background-color: rgb(208, 213, 217);
}
.blackout #delete_modal span button.delete,
.blackout #update_modal span button.delete,
.blackout #params_modal span button.delete {
  color: rgb(232, 235, 237);
  background-color: rgb(234, 56, 56);
  border-color: rgb(234, 56, 56);
}
.blackout #delete_modal span button.update, .blackout #delete_modal span button.params,
.blackout #update_modal span button.update,
.blackout #update_modal span button.params,
.blackout #params_modal span button.update,
.blackout #params_modal span button.params {
  color: rgb(232, 235, 237);
  background-color: rgb(56, 136, 234);
  border-color: rgb(56, 136, 234);
}
.blackout #delete_modal span button.cancel,
.blackout #update_modal span button.cancel,
.blackout #params_modal span button.cancel {
  color: rgb(119, 119, 119);
  border-color: rgb(208, 213, 217);
  background-color: rgb(250, 250, 250);
}
.blackout #delete_modal span button:hover.delete,
.blackout #update_modal span button:hover.delete,
.blackout #params_modal span button:hover.delete {
  color: rgb(234, 56, 56);
  background-color: rgba(0, 0, 0, 0);
}
.blackout #delete_modal span button:hover.update, .blackout #delete_modal span button:hover.params,
.blackout #update_modal span button:hover.update,
.blackout #update_modal span button:hover.params,
.blackout #params_modal span button:hover.update,
.blackout #params_modal span button:hover.params {
  color: rgb(56, 136, 234);
  background-color: rgba(0, 0, 0, 0);
}

#dropzone {
  background-color: rgb(255, 255, 255);
  border-color: rgb(218, 223, 227);
}
#dropzone #dropstate,
#dropzone #text {
  color: rgb(157, 162, 165);
}
#dropzone #progress {
  border-color: rgb(218, 223, 227);
}
#dropzone #progress #fill {
  background-color: rgb(56, 136, 234);
}
#dropzone #progress.proc #fill {
  background-color: rgb(136, 234, 56);
}
#dropzone #progress.warn #fill {
  background-color: rgb(234, 234, 56);
}
#dropzone #progress.error #fill {
  background-color: rgb(234, 56, 56);
}

#content #buttons .button, #content #buttons .button a {
  color: rgb(198, 203, 207);
}
#content #buttons .button:hover, #content #buttons .button.active, #content #buttons .button a:hover, #content #buttons .button a.active {
  color: rgb(36, 41, 46);
}
#content #buttons .button:not(:last-child), #content #buttons .button a:not(:last-child) {
  border-color: rgb(218, 223, 227);
}
#content #settings .setting span {
  color: rgb(36, 41, 46);
}
#content #settings .setting .switch input:checked + .slider {
  background-color: rgb(56, 136, 234);
}
#content #settings .setting .switch .slider {
  background-color: rgb(119, 119, 119);
}
#content #settings .setting .switch .slider::before {
  background-color: rgb(255, 255, 255);
}

#footer a > svg {
  fill: rgb(218, 223, 227);
}
#footer a:hover > svg {
  fill: rgb(36, 41, 46);
}

.adminBtn {
  color: rgb(218, 223, 227);
}
.adminBtn:hover {
  color: rgb(36, 41, 46);
}

#content #accountzone {
  background-color: rgb(255, 255, 255);
  border-color: rgb(218, 223, 227);
}
#content #accountzone form input[type=text],
#content #accountzone form input[type=email],
#content #accountzone form input[type=password],
#content #accountzone form input[type=submit] {
  color: rgb(198, 203, 207);
}
#content #accountzone form input[type=text]:hover, #content #accountzone form input[type=text]:focus,
#content #accountzone form input[type=email]:hover,
#content #accountzone form input[type=email]:focus,
#content #accountzone form input[type=password]:hover,
#content #accountzone form input[type=password]:focus,
#content #accountzone form input[type=submit]:hover,
#content #accountzone form input[type=submit]:focus {
  color: rgb(36, 41, 46);
}
#content #accountzone form input[type=text],
#content #accountzone form input[type=password] {
  border-color: rgb(218, 223, 227);
}
#content #accountzone form input[type=submit] {
  background: rgba(0, 0, 0, 0);
}

#container .preview {
  background: linear-gradient(45deg, rgb(221, 221, 221) 25%, rgba(0, 0, 0, 0) 25%) 0 0/20px 20px, linear-gradient(-45deg, rgb(221, 221, 221) 25%, rgba(0, 0, 0, 0) 25%) 0 10px/20px 20px, linear-gradient(45deg, rgba(0, 0, 0, 0) 75%, rgb(221, 221, 221) 75%) 10px -10px/20px 20px, linear-gradient(-45deg, rgba(0, 0, 0, 0) 75%, rgb(221, 221, 221) 75%) -10px 0px/20px 20px, rgb(255, 255, 255);
  border-color: rgb(218, 223, 227);
}
#container .pagination li:not(.disabled) a {
  color: rgb(198, 203, 207);
}
#container .pagination li:not(.disabled).active a {
  border-color: rgb(36, 41, 46);
  color: rgb(36, 41, 46);
}
#container .pagination li:not(.disabled):hover a, #container .pagination li:not(.disabled):active a {
  border-color: rgb(36, 41, 46);
  color: rgb(36, 41, 46);
}
#container .pagination li:not(.disabled):hover a::after, #container .pagination li:not(.disabled):active a::after {
  color: rgb(36, 41, 46);
}
#container .pagination li.disabled a {
  color: rgb(198, 203, 207);
}
#container .tab_container {
  border-bottom-color: rgb(218, 223, 227);
}
#container .tab_container .tab {
  border-right-color: rgb(218, 223, 227);
}
#container .tab_container .tab.active a, #container .tab_container .tab:hover a {
  color: rgb(36, 41, 46);
}
#container .tab_container .tab a {
  color: rgb(198, 203, 207);
}
#container .tab_container .tab_button {
  background: rgba(0, 0, 0, 0);
  color: rgb(198, 203, 207);
}
#container .tab_container .tab_button:hover {
  color: rgb(36, 41, 46);
}

.image img {
  background: linear-gradient(45deg, rgb(221, 221, 221) 25%, rgba(0, 0, 0, 0) 25%) 0 0/20px 20px, linear-gradient(-45deg, rgb(221, 221, 221) 25%, rgba(0, 0, 0, 0) 25%) 0 10px/20px 20px, linear-gradient(45deg, rgba(0, 0, 0, 0) 75%, rgb(221, 221, 221) 75%) 10px -10px/20px 20px, linear-gradient(-45deg, rgba(0, 0, 0, 0) 75%, rgb(221, 221, 221) 75%) -10px 0px/20px 20px, rgb(255, 255, 255);
  border-color: rgb(218, 223, 227);
}

.video__player {
  border-color: rgb(218, 223, 227);
}
.video__player video {
  background: rgb(0, 0, 0);
}
.video__player .video__controls {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 41, 46);
}
.video__player .video__controls .playback__bar {
  background-color: rgb(36, 41, 46);
}
.video__player .video__controls .playback__bar .playback__buffer {
  background-color: rgb(76, 80, 83);
}
.video__player .video__controls .playback__bar .playback__progress {
  background-color: rgb(56, 136, 234);
}
.video__player .video__controls .playback__bar .playback__progress::after {
  background: rgb(36, 41, 46);
}
.video__player .video__controls .playback__extra .control__breakout,
.video__player .video__controls .playback__extra .control__download {
  color: rgb(36, 41, 46);
}
.video__player .video__controls .playback__playPause i,
.video__player .video__controls .playback__volume > .volume__muteUnmute i,
.video__player .video__controls .playback__extra > .control__fullscreen i,
.video__player .video__controls .playback__extra > .control__download i {
  color: rgb(36, 41, 46);
}
.video__player .video__controls .playback__volume .volume__control {
  -webkit-tap-highlight-color: rgb(36, 41, 46);
  background-image: linear-gradient(to right, rgb(56, 136, 234) 0%, rgb(56, 136, 234) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
}
.video__player .video__controls .playback__volume .volume__control::-webkit-slider-thumb {
  background-color: rgb(36, 41, 46);
}

.audio__player {
  background-color: rgb(255, 255, 255);
  border-color: rgb(218, 223, 227);
}
.audio__player .audio__info .artist,
.audio__player .audio__info .title {
  color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__bar {
  background-color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__bar .playback__buffer {
  background-color: rgb(76, 80, 83);
}
.audio__player .audio__info .audio__controls .playback__bar .playback__progress {
  background-color: rgb(56, 136, 234);
}
.audio__player .audio__info .audio__controls .playback__bar .playback__progress::after {
  background: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__clock {
  color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__volume .volume__control {
  -webkit-tap-highlight-color: rgb(36, 41, 46);
  background-image: linear-gradient(to right, rgb(56, 136, 234) 0%, rgb(56, 136, 234) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
}
.audio__player .audio__info .audio__controls .playback__volume .volume__control::-webkit-slider-thumb {
  background-color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__extra .control__breakout {
  color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__playPause i,
.audio__player .audio__info .audio__controls .playback__volume > .volume__muteUnmute i,
.audio__player .audio__info .audio__controls .playback__extra > .control__fullscreen i,
.audio__player .audio__info .audio__controls .playback__extra > .control__download i {
  color: rgb(36, 41, 46);
}

.text {
  color: rgb(36, 41, 46);
  background: rgb(250, 250, 250) !important;
  border-color: rgb(218, 223, 227) !important;
}

.log_container {
  background-color: rgb(0, 0, 0);
}
.log_container .log {
  color: rgb(255, 255, 255);
}

/*# sourceMappingURL=user.css.map */
