#dropzone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  max-width: 750px;
  min-width: 280px;
  height: 25vh;
  max-height: 240px;
  min-height: 100px;
  border: 1px dashed;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-content-background);
  border-color: var(--color-content-border);

  #label {
    font-size: 15px;
    font-weight: 600;
    color: var(--color-progress-text);
  }

  #progress {
    position: absolute;
    margin-top: -12px;
    width: 80%;
    height: 20px;
    border: 1px solid;
    transition: opacity 200ms;
    border-color: var(--color-progress-border);

    #fill {
      display: block;
      width: 0;
      height: 100%;
      transition: width 200ms, background-color 200ms;
      background-color: var(--color-progress-fill);
    }

    &.processing #fill {
      background-color: var(--color-progress-fill-processing);
    }
    &.warning #fill {
      background-color: var(--color-progress-fill-warning);
    }
    &.error #fill {
      background-color: var(--color-progress-fill-error);
    }

    #text {
      font-weight: 600;
      text-transform: capitalize;
      color: var(--color-progress-text);
    }
  }
}
