#logo {
  &.dev a {
    color: var(--color-logo-dev);
  }
  a {
    color: var(--color-logo);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-variant: small-caps;
    text-decoration: none;
    justify-self: start;
    user-select: none;
    outline: none;

    span {
      font-weight: bold;
      text-transform: lowercase;
    }
  }
}
