// Common Colors
$white:              rgb(255, 255, 255);
$black:              rgb(0, 0, 0);
$transparent:        rgba(0, 0 ,0, 0);
$transparent-gradiant: url('/img/element/transparent.webp');


// Header
$logo:       rgb(219, 3, 3);
$logo-dev:   rgb(56, 137, 234);
$header-text: rgb(119, 119, 119);


// Main Page
$light-page-background:    rgb(250, 250, 250);

$light-content-background: rgb(232, 235, 237);
$light-content-border:     rgb(218, 223, 227);
$light-content-text:       rgb(198, 203, 207);
$light-content-text-hover: rgb(36, 41, 46);

$dark-page-background:     rgb(20, 20, 20);

$dark-content-background:  rgb(30, 30, 30);
$dark-content-border:      rgb(60, 60, 60);
$dark-content-text:        rgb(54, 50, 47);
$dark-content-text-hover:  rgb(218, 214, 208);


// Footer
$light-footer-text:       rgb(218, 223, 227);
$light-footer-text-hover: rgb(36, 41, 46);

$dark-footer-text:        rgb(36, 41, 46);
$dark-footer-text-hover:  rgb(218, 223, 227);



// Progress Bar
$color-progress-border:          rgb(218, 223, 227);
$color-progress-fill:            rgb(56, 136, 234);
$color-progress-fill-processing: rgb(136, 234, 56);
$color-progress-fill-warning:    rgb(234, 234, 56);
$color-progress-fill-error:      rgb(234, 56, 56);
$color-progress-text:            rgb(157, 162, 165);


// Media Controls - WIP
$color-mediabuffer:            rgb(76, 80, 83);
$color-media-gradiant:           linear-gradient(to right, rgb(56, 136, 234) 0%, rgb(56, 136, 234) 100%, rgb(0,0,0) 100%, rgb(0,0,0) 100%);
// ^- need to make JS read the CSS rule to get the starting gradient

// Action Button Colors
$color-actionbackground:       rgb(218, 223, 227);
$color-actionborder:           rgb(36, 41, 46);
$color-action-delete:          rgb(234, 56, 56);

// Modal Colors
$color-blackout:               rgba(0, 0 ,0, 0.8);
$color-modal:                  rgb(232, 235, 237);
$color-modal-border:           rgb(208, 213, 217);
$color-modal-header:           rgb(119, 119, 119);
$color-modal-divider:          rgb(208, 213, 217);
$color-modal-cancel:           rgb(250, 250, 250);
$color-modal-delete:           rgb(234, 56, 56);
$color-modal-update:           rgb(56, 136, 234);
