// Common Colors
$white:                    rgb(255, 255, 255);
$black:                    rgb(0, 0, 0);
$transparent:              rgba(0, 0 ,0, 0);
$transparent-gradiant:       url('/img/element/transparent.webp');
$translucent:              rgba(0, 0, 0, 0.8);


// Header
$logo:                     rgb(219, 3, 3);
$logo-dev:                 rgb(56, 137, 234);
$header-text:              rgb(119, 119, 119);


// Main Page
$light-page-background:    rgb(250, 250, 250);
$light-content-background: rgb(232, 235, 237);
$light-content-border:     rgb(218, 223, 227);
$light-content-text:       rgb(198, 203, 207);
$light-content-text-hover: rgb(36, 41, 46);

$content-text-dark:        rgb(39, 40, 43);

$dark-page-background:     rgb(10, 10, 10);
$dark-content-background:  rgb(30, 30, 30);
$dark-content-border:      rgb(60, 60, 60);
$dark-content-text:        rgb(132, 126, 126);
$dark-content-text-hover:  rgb(232, 228, 222);


// Footer
$light-footer-text:        rgb(218, 223, 227);
$light-footer-text-hover:  rgb(36, 41, 46);

$dark-footer-text:         rgb(36, 41, 46);
$dark-footer-text-hover:   rgb(218, 223, 227);


// Progress Bar
$progress-border:          rgb(218, 223, 227);
$progress-fill:            rgb(56, 136, 234);
$progress-fill-processing: rgb(136, 234, 56);
$progress-fill-warning:    rgb(234, 234, 56);
$progress-fill-error:      rgb(234, 56, 56);
$progress-text:            rgb(157, 162, 165);


// Action Button Colors
$light-action-background:  rgb(218, 223, 227);
$light-action-border:      rgb(36, 41, 46);

$dark-action-background:   rgb(36, 41, 46);
$dark-action-border:       rgb(218, 223, 227);

$action-default:           rgb(119, 119, 119);
$action-delete:            rgb(234, 56, 56);
$action-active:            rgb(56, 137, 234);


// Error Page
$light-error-text:         rgb(32, 32, 32);

$dark-error-text:          rgb(222, 222, 222);


// Modal Colors
$light-modal-background:   rgb(250, 250, 250);
$light-modal-border:       rgb(218, 223, 227);
$light-modal-header:       rgb(10, 10, 10);
$light-modal-divider:      rgb(218, 223, 227);
$light-modal-text:         rgb(10, 10, 10);

$dark-modal-background:    rgb(36, 41, 46);
$dark-modal-border:        rgb(10, 10, 10);
$dark-modal-header:        rgb(250, 250, 250);
$dark-modal-divider:       rgb(10, 10, 10);
$dark-modal-text:          rgb(250, 250, 250);

$light-modal-default:      rgb(218, 223, 227);
$dark-modal-default:       rgb(10, 10, 10);

$modal-delete:             rgb(234, 56, 56);
$modal-update:             rgb(57, 136, 234);
$modal-cancel:             rgb(56, 136, 234);
