:root[data-theme="dark"],
:root:not([data-theme="light"]) {
  --color-theme:                    #{$black};
  --color-theme-inverted:           #{$white};

  //Page
  --color-page-background:        #{$dark-page-background};

  //Content
  --color-content-background:     #{$dark-content-background};
  --color-content-border:         #{$dark-content-border};
  --color-content-text:           #{$dark-content-text};
  --color-content-text-hover:     #{$dark-content-text-hover};

  --color-transparent-gradiant:   url('/img/element/transparent_dark.webp');

  //Footer
  --color-footer-text:            #{$dark-footer-text};
  --color-footer-text-hover:      #{$dark-footer-text-hover};
}
