:root[data-theme="light"],
:root:not([data-theme="dark"]) {
  --color-theme:                    #{$white};
  --color-theme-inverted:           #{$black};
  --color-transparent-gradiant:   url('/img/element/transparent_light.webp');

  //Page
  --color-page-background:          #{$light-page-background};

  //Content
  --color-content-background:       #{$light-content-background};
  --color-content-border:           #{$light-content-border};
  --color-content-text:             #{$light-content-text};
  --color-content-text-hover:       #{$light-content-text-hover};

  // Actions
  --color-action-background:        #{$light-action-background};
  --color-action-border:            #{$light-action-border};

  // Modals
  --color-modal-background:         #{$light-modal-background};
  --color-modal-border:             #{$light-modal-border};
  --color-modal-header:             #{$light-modal-header};
  --color-modal-divider:            #{$light-modal-divider};
  --color-modal-text:               #{$light-modal-text};
  --color-modal-default:            #{$light-modal-default};

  //Footer
  --color-footer-text:              #{$light-footer-text};
  --color-footer-text-hover:        #{$light-footer-text-hover};

  //Error
  --color-error-text:              #{$light-error-text};
}
