:root:is([data-theme="light"]),
:root:not([data-theme="dark"]) {
  --color-theme:                    #{$white};
  --color-theme-inverted:           #{$black};

  //Page
  --color-page-background:          #{$light-page-background};

  //Content
  --color-content-background:       #{$light-content-background};
  --color-content-border:           #{$light-content-border};
  --color-content-text:             #{$light-content-text};
  --color-content-text-hover:       #{$light-content-text-hover};

  //Footer
  --color-footer-text:              #{$light-footer-text};
  --color-footer-text-hover:        #{$light-footer-text-hover};
}
