<!doctype html>
<html>
  <head>
    <title>Stash</title>
  </head>

  <body>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="ttl">
        TTL:
        <input type="number" id="ttl" name="ttl" value="0" />
        (Time in Seconds, 0 = Forever)
      </label>
      <br />
      <label for="files">
        Files:
        <input type="file" id="files" name="file" multiple />
      </label>
      <hr />
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
