* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden overlay;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.no_transition {
  transition: none !important;
}

#logo {
  text-align: center;
}
#logo a {
  font-size: 40px;
  font-variant: small-caps;
  text-decoration: none;
  line-height: 75px;
  justify-self: start;
  user-select: none;
  outline: none;
}
#logo a span {
  font-weight: bold;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 220px auto;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 8px;
}
header #logo {
  text-align: left;
}
header h1 {
  height: 85px;
  max-width: 100%;
  font-weight: 400;
  line-height: 85px;
  justify-self: end;
  font-variant: small-caps;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header h1 .album__download,
header h1 .album__delete {
  top: 28px;
  right: 0;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}
header h1 .album__delete {
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
}
header h1 .album__title_input {
  position: absolute;
  top: 15px;
  right: 1px;
  padding: 5px;
  width: 100%;
  max-width: calc(100% - 250px);
  font-size: 32px;
  font-variant: small-caps;
  text-align: right;
  border: 1px dashed;
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
}
header h1 .album__title_input.editable {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 0ms linear;
}
header:hover h1 .album__delete {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 0ms linear;
}

.wrapper {
  position: relative;
  margin: 0 auto 10px;
}
.wrapper:hover .actions {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 0ms linear;
}
.wrapper .actions {
  position: absolute;
  right: 2px;
  top: 2px;
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.wrapper .actions .action__delete {
  display: inline-block;
  text-align: center;
  line-height: 2;
  font-size: 16px;
  width: 37px;
  height: 37px;
  padding: 0px;
  border: 1px;
  border-style: solid;
  cursor: pointer;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: collapse;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.blackout.delete, .blackout.update {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 0ms linear;
}
.blackout.delete #delete_modal {
  visibility: visible;
}
.blackout.update #update_modal {
  visibility: visible;
}
.blackout #delete_modal,
.blackout #update_modal {
  position: relative;
  width: 250px;
  height: 100px;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  border: 1px;
  border-style: solid;
  visibility: collapse;
}
.blackout #delete_modal h2,
.blackout #update_modal h2 {
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
}
.blackout #delete_modal hr,
.blackout #update_modal hr {
  height: 1px;
  border: 0;
  padding: 0;
}
.blackout #delete_modal span,
.blackout #update_modal span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}
.blackout #delete_modal span button,
.blackout #update_modal span button {
  width: 70px;
  height: 25px;
  border: 1px;
  border-style: solid;
  cursor: pointer;
  transition: background-color 100ms linear, color 100ms linear;
}
.blackout #delete_modal span button:hover.cancel,
.blackout #update_modal span button:hover.cancel {
  font-weight: 700;
}

#content {
  width: auto;
  max-width: 750px;
  min-width: 280px;
  margin: calc(50vh - 85px) 0 0 50vw;
  transform: translate(-50%, -33%);
}
#content #accountzone {
  position: relative;
  margin: 0 auto;
  width: 280px;
  border: 1px dashed;
  text-align: center;
}
#content #accountzone form {
  height: 100%;
  padding: 10px;
}
#content #accountzone form img {
  padding: 10px 0 0 0;
}
#content #accountzone form input[type=text],
#content #accountzone form input[type=password] {
  padding: 4px;
  margin: 4px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: 1px solid;
  transition: color 200ms;
  outline: none;
}
#content #accountzone form input[type=text]::placeholder,
#content #accountzone form input[type=password]::placeholder {
  font-weight: 100;
}
#content #accountzone form input[type=submit] {
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  transition: color 200ms;
  cursor: pointer;
}
