* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: overlay;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

img,
video,
audio {
  max-width: 100%;
  display: block;
  margin-left: 50%;
  margin-bottom: 8px;
  transform: translateX(-50%);
}

.album_title, .album_title a {
  cursor: pointer;
  text-align: center;
  color: black;
  text-decoration: none;
}

.album_title:hover {
  text-decoration: underline;
}
