@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: overlay;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

#logo {
  text-align: center;
}
#logo a {
  color: #db0303;
  font-size: 40px;
  font-variant: small-caps;
  text-decoration: none;
  line-height: 75px;
  justify-self: start;
  user-select: none;
  cursor: default;
}
#logo a span {
  font-weight: bold;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 8px;
}
header #logo {
  text-align: left;
}
header #logo a {
  cursor: pointer;
}
header h1 {
  color: #777777;
  justify-self: end;
  font-weight: 400;
  line-height: 85px;
  font-variant: small-caps;
  height: 85px;
}

/*
Usually, `apache` already has necessary settings, but `nginx` and other
webservers should be tuned. Here is list of mime types for our file extensions:

- `application/vnd.ms-fontobject` - eot
- `application/x-font-woff` - woff
- `application/x-font-ttf` - ttf
- `image/svg+xml` - svg

*/
@font-face {
  font-family: "icons";
  src: url("/font/icons.eot?48031863");
  src: url("/font/icons.eot?48031863#iefix") format("embedded-opentype"), url("/font/icons.woff2?48031863") format("woff2"), url("/font/icons.woff?48031863") format("woff"), url("/font/icons.ttf?48031863") format("truetype"), url("/font/icons.svg?48031863#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-size: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-outline::before {
  content: "";
}

/* '' */
.icon-th::before {
  content: "";
}

/* '' */
.icon-th-large-outline::before {
  content: "";
}

/* '' */
.icon-th-large::before {
  content: "";
}

/* '' */
.icon-th-list::before {
  content: "";
}

/* '' */
.icon-th-list-outline::before {
  content: "";
}

/* '' */
.icon-download-outline::before {
  content: "";
}

/* '' */
.icon-download::before {
  content: "";
}

/* '' */
.icon-home::before {
  content: "";
}

/* '' */
.icon-home-outline::before {
  content: "";
}

/* '' */
.icon-warning::before {
  content: "";
}

/* '' */
.icon-warning-empty::before {
  content: "";
}

/* '' */
.icon-ok::before {
  content: "";
}

/* '' */
.icon-ok-outline::before {
  content: "";
}

/* '' */
.icon-calendar-outlilne::before {
  content: "";
}

/* '' */
.icon-calendar::before {
  content: "";
}

/* '' */
.icon-videocam::before {
  content: "";
}

/* '' */
.icon-videocam-outline::before {
  content: "";
}

/* '' */
.icon-music::before {
  content: "";
}

/* '' */
.icon-cog::before {
  content: "";
}

/* '' */
.icon-cog-outline::before {
  content: "";
}

/* '' */
.icon-wrench-outline::before {
  content: "";
}

/* '' */
.icon-wrench::before {
  content: "";
}

/* '' */
.icon-info-outline::before {
  content: "";
}

/* '' */
.icon-info::before {
  content: "";
}

/* '' */
.icon-chart-pie-outline::before {
  content: "";
}

/* '' */
.icon-chart-pie::before {
  content: "";
}

/* '' */
.icon-video::before {
  content: "";
}

/* '' */
.icon-picture::before {
  content: "";
}

/* '' */
.icon-trash-empty::before {
  content: "";
}

/* '' */
.icon-ok-1::before {
  content: "";
}

/* '' */
.icon-cancel::before {
  content: "";
}

/* '' */
.icon-plus::before {
  content: "";
}

/* '' */
.icon-upload::before {
  content: "";
}

/* '' */
.icon-pencil::before {
  content: "";
}

/* '' */
.icon-cw::before {
  content: "";
}

/* '' */
.icon-pause::before {
  content: "";
}

/* '' */
.icon-stop::before {
  content: "";
}

/* '' */
.icon-play::before {
  content: "";
}

/* '' */
.icon-volume-off::before {
  content: "";
}

/* '' */
.icon-volume-down::before {
  content: "";
}

/* '' */
.icon-volume-up::before {
  content: "";
}

/* '' */
.icon-chart-bar::before {
  content: "";
}

/* '' */
.icon-link::before {
  content: "";
}

/* '' */
.icon-resize-full::before {
  content: "";
}

/* '' */
.icon-down-dir::before {
  content: "";
}

/* '' */
.icon-up-dir::before {
  content: "";
}

/* '' */
.icon-resize-small::before {
  content: "";
}

/* '' */
.icon-link-ext::before {
  content: "";
}

/* '' */
.icon-info-1::before {
  content: "";
}

/* '' */
.icon-circle-notch::before {
  content: "";
}

/* '' */
.icon-sliders::before {
  content: "";
}

/* '' */
.icon-trash::before {
  content: "";
}

/* '' */
audio {
  max-width: 100%;
  display: block;
  margin-left: 50%;
  margin-bottom: 8px;
  transform: translateX(-50%);
}

#container {
  display: grid;
  background: white;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}
#container .image {
  margin: 10px auto;
}
#container .image img {
  background: linear-gradient(45deg, #dddddd 25%, rgba(0, 0, 0, 0) 25%) 0 0/20px 20px, linear-gradient(-45deg, #dddddd 25%, rgba(0, 0, 0, 0) 25%) 0 10px/20px 20px, linear-gradient(45deg, rgba(0, 0, 0, 0) 75%, #dddddd 75%) 10px -10px/20px 20px, linear-gradient(-45deg, rgba(0, 0, 0, 0) 75%, #dddddd 75%) -10px 0px/20px 20px;
  max-width: 100%;
  max-height: 550px;
  /* was 750px */
  margin: 0 auto;
}
#container .video__player {
  position: relative;
  margin: 10px auto;
}
#container .video__player video {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-height: calc(100vh - 165px);
  /* max-height: 750px; */
  background: black;
}
#container .video__player .video__controls {
  position: relative;
  margin: -4px 0 0 0;
  height: 30px;
  width: 100%;
  padding: 0 5px;
  background: #fafafa;
  color: #24292e;
  font-size: 18px;
  text-align: center;
  user-select: none;
}
#container .video__player .video__controls .video__volume .volume__control {
  width: 80px;
}
#container .video__player .video__controls span {
  display: inline-block;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.5;
}
#container .video__player .video__controls span.video__playback {
  text-align: left !important;
}
#container .video__player .video__controls span.video__playback > .playback__clock {
  margin: 0 3px 0 0;
}
#container .video__player .video__controls span.video__playback > .playback__clock > .playback__time,
#container .video__player .video__controls span.video__playback > .playback__clock > .playback__length {
  cursor: default;
}
#container .video__player .video__controls button {
  display: inline-block;
  height: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
#container .video__player .video__controls button.control__fullscreen {
  padding: 0 0 0 3px;
}
#container .video__player .video__controls button i {
  color: #24292e;
}
#container .video__player .video__controls a {
  font-size: 13px;
  color: #24292e;
}
#container .video__player .video__controls input[type=range] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: #24292e;
  position: relative;
  display: inline-block;
  top: -3px;
  height: 4px;
  margin: 0;
  border: none;
  border-radius: 14px;
  outline: none;
  cursor: pointer;
}
#container .video__player .video__controls input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 6px;
  background-color: #24292e;
  opacity: 0;
  transition: opacity 200ms;
}
#container .video__player .video__controls input[type=range]::-webkit-slider-thumb:hover,
#container .video__player .video__controls input[type=range]::-webkit-slider-thumb:focus,
#container .video__player .video__controls input[type=range]::-webkit-slider-thumb:active,
#container .video__player .video__controls input[type=range]:hover::-webkit-slider-thumb,
#container .video__player .video__controls input[type=range]:focus::-webkit-slider-thumb,
#container .video__player .video__controls input[type=range]:active::-webkit-slider-thumb {
  opacity: 1;
}

.album {
  position: relative;
  margin: 10px auto;
}
.album .title {
  display: block;
  font-size: 25px;
  font-weight: 600;
  padding: 0 0 5px 0;
}
.album .icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("/img/album.png") right top 38px/40px no-repeat;
}
.album, .album a {
  color: #777777;
  text-align: center;
  text-decoration: none;
}
.album a > img {
  max-width: 100%;
  filter: grayscale(1);
  transition: filter 200ms;
}
.album:hover a > img {
  filter: grayscale(0);
}

.file {
  position: relative;
  margin: 10px auto;
}
.file, .file a {
  text-align: center;
  text-decoration: none;
}
.file a > img {
  max-width: 100%;
}
