@charset "UTF-8";
h1, h2 {
  color: rgb(32, 32, 32);
}

h1 {
  font-size: 10rem;
  position: relative;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 3rem;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0 20px;
  margin: 30px 0;
}

pre {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
  white-space: pre;
  overflow: scroll;
  padding: 1rem;
}

a#goHome {
  color: rgb(90, 90, 90);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto;
  transition: color 150ms linear;
}
a#goHome:hover {
  color: rgb(219, 3, 3);
}
a#goHome:hover::before, a#goHome:hover::after {
  opacity: 1;
}
a#goHome::before, a#goHome::after {
  opacity: 0;
  transition: opacity 150ms linear;
}
a#goHome::before {
  content: "« ";
}
a#goHome::after {
  content: " »";
}

body {
  background-color: rgb(250, 250, 250);
}

#logo a {
  color: rgb(219, 3, 3);
}
#logo.dev a {
  color: rgb(56, 137, 234);
}

header h1, header h1 .album__download {
  color: rgb(119, 119, 119);
}
header h1 .album__delete {
  color: rgb(234, 56, 56);
}
header h1 .album__title_input {
  border-color: rgb(218, 223, 227);
}

#container {
  background: rgb(232, 235, 237);
  border-color: rgb(218, 223, 227);
}

.wrapper .actions .action__delete,
.wrapper .actions .action__raw {
  background-color: rgb(218, 223, 227);
  border-color: rgb(36, 41, 46);
}
.wrapper .actions .action__delete {
  color: rgb(234, 56, 56);
}
.wrapper .actions .action__raw {
  color: rgb(36, 41, 46);
}

.blackout {
  background-color: rgba(0, 0, 0, 0.8);
}
.blackout #delete_modal,
.blackout #update_modal,
.blackout #params_modal {
  background-color: rgb(232, 235, 237);
  border-color: rgb(208, 213, 217);
}
.blackout #delete_modal h2,
.blackout #update_modal h2,
.blackout #params_modal h2 {
  color: rgb(119, 119, 119);
}
.blackout #delete_modal hr,
.blackout #update_modal hr,
.blackout #params_modal hr {
  background-color: rgb(208, 213, 217);
}
.blackout #delete_modal span button.delete,
.blackout #update_modal span button.delete,
.blackout #params_modal span button.delete {
  color: rgb(232, 235, 237);
  background-color: rgb(234, 56, 56);
  border-color: rgb(234, 56, 56);
}
.blackout #delete_modal span button.update, .blackout #delete_modal span button.params,
.blackout #update_modal span button.update,
.blackout #update_modal span button.params,
.blackout #params_modal span button.update,
.blackout #params_modal span button.params {
  color: rgb(232, 235, 237);
  background-color: rgb(56, 136, 234);
  border-color: rgb(56, 136, 234);
}
.blackout #delete_modal span button.cancel,
.blackout #update_modal span button.cancel,
.blackout #params_modal span button.cancel {
  color: rgb(119, 119, 119);
  border-color: rgb(208, 213, 217);
  background-color: rgb(250, 250, 250);
}
.blackout #delete_modal span button:hover.delete,
.blackout #update_modal span button:hover.delete,
.blackout #params_modal span button:hover.delete {
  color: rgb(234, 56, 56);
  background-color: rgba(0, 0, 0, 0);
}
.blackout #delete_modal span button:hover.update, .blackout #delete_modal span button:hover.params,
.blackout #update_modal span button:hover.update,
.blackout #update_modal span button:hover.params,
.blackout #params_modal span button:hover.update,
.blackout #params_modal span button:hover.params {
  color: rgb(56, 136, 234);
  background-color: rgba(0, 0, 0, 0);
}

#dropzone {
  background-color: rgb(255, 255, 255);
  border-color: rgb(218, 223, 227);
}
#dropzone #label,
#dropzone #text {
  color: rgb(157, 162, 165);
}
#dropzone #progress {
  border-color: rgb(218, 223, 227);
}
#dropzone #progress #fill {
  background-color: rgb(56, 136, 234);
}
#dropzone #progress.processing #fill {
  background-color: rgb(136, 234, 56);
}
#dropzone #progress.warning #fill {
  background-color: rgb(234, 234, 56);
}
#dropzone #progress.error #fill {
  background-color: rgb(234, 56, 56);
}

#content #buttons .button, #content #buttons .button a {
  color: rgb(198, 203, 207);
}
#content #buttons .button:hover, #content #buttons .button.active, #content #buttons .button a:hover, #content #buttons .button a.active {
  color: rgb(36, 41, 46);
}
#content #buttons .button:not(:last-child), #content #buttons .button a:not(:last-child) {
  border-color: rgb(218, 223, 227);
}
#content #settings .setting span {
  color: rgb(36, 41, 46);
}
#content #settings .setting .switch input:checked + .slider {
  background-color: rgb(56, 136, 234);
}
#content #settings .setting .switch .slider {
  background-color: rgb(119, 119, 119);
}
#content #settings .setting .switch .slider::before {
  background-color: rgb(255, 255, 255);
}

#footer a > svg {
  fill: rgb(218, 223, 227);
}
#footer a:hover > svg {
  fill: rgb(36, 41, 46);
}

.adminBtn {
  color: rgb(218, 223, 227);
}
.adminBtn:hover {
  color: rgb(36, 41, 46);
}

#content #accountzone {
  background-color: rgb(255, 255, 255);
  border-color: rgb(218, 223, 227);
}
#content #accountzone form input[type=text],
#content #accountzone form input[type=email],
#content #accountzone form input[type=password],
#content #accountzone form input[type=submit] {
  color: rgb(198, 203, 207);
}
#content #accountzone form input[type=text]:hover, #content #accountzone form input[type=text]:focus,
#content #accountzone form input[type=email]:hover,
#content #accountzone form input[type=email]:focus,
#content #accountzone form input[type=password]:hover,
#content #accountzone form input[type=password]:focus,
#content #accountzone form input[type=submit]:hover,
#content #accountzone form input[type=submit]:focus {
  color: rgb(36, 41, 46);
}
#content #accountzone form input[type=text],
#content #accountzone form input[type=password] {
  border-color: rgb(218, 223, 227);
}
#content #accountzone form input[type=submit] {
  background: rgba(0, 0, 0, 0);
}

#container .preview {
  background: url("/img/element/transparent.webp");
  border-color: rgb(218, 223, 227);
}
#container .pagination li:not(.disabled) a {
  color: rgb(198, 203, 207);
}
#container .pagination li:not(.disabled).active a {
  border-color: rgb(36, 41, 46);
  color: rgb(36, 41, 46);
}
#container .pagination li:not(.disabled):hover a, #container .pagination li:not(.disabled):active a {
  border-color: rgb(36, 41, 46);
  color: rgb(36, 41, 46);
}
#container .pagination li:not(.disabled):hover a::after, #container .pagination li:not(.disabled):active a::after {
  color: rgb(36, 41, 46);
}
#container .pagination li.disabled a {
  color: rgb(198, 203, 207);
}
#container .tab_container {
  border-bottom-color: rgb(218, 223, 227);
}
#container .tab_container .tab {
  border-right-color: rgb(218, 223, 227);
}
#container .tab_container .tab.active a, #container .tab_container .tab:hover a {
  color: rgb(36, 41, 46);
}
#container .tab_container .tab a {
  color: rgb(198, 203, 207);
}
#container .tab_container .tab_button {
  background: rgba(0, 0, 0, 0);
  color: rgb(198, 203, 207);
}
#container .tab_container .tab_button:hover {
  color: rgb(36, 41, 46);
}

.image img {
  background: url("/img/element/transparent.webp");
  border-color: rgb(218, 223, 227);
}

.video__player {
  border-color: rgb(218, 223, 227);
}
.video__player video {
  background: rgb(0, 0, 0);
}
.video__player .video__controls {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 41, 46);
}
.video__player .video__controls .playback__bar {
  background-color: rgb(36, 41, 46);
}
.video__player .video__controls .playback__bar .playback__buffer {
  background-color: rgb(76, 80, 83);
}
.video__player .video__controls .playback__bar .playback__progress {
  background-color: rgb(56, 136, 234);
}
.video__player .video__controls .playback__bar .playback__progress::after {
  background: rgb(36, 41, 46);
}
.video__player .video__controls .playback__extra .control__breakout,
.video__player .video__controls .playback__extra .control__download {
  color: rgb(36, 41, 46);
}
.video__player .video__controls .playback__playPause i,
.video__player .video__controls .playback__volume > .volume__muteUnmute i,
.video__player .video__controls .playback__extra > .control__fullscreen i,
.video__player .video__controls .playback__extra > .control__download i {
  color: rgb(36, 41, 46);
}
.video__player .video__controls .playback__volume .volume__control {
  -webkit-tap-highlight-color: rgb(36, 41, 46);
  background-image: linear-gradient(to right, rgb(56, 136, 234) 0%, rgb(56, 136, 234) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
}
.video__player .video__controls .playback__volume .volume__control::-webkit-slider-thumb {
  background-color: rgb(36, 41, 46);
}

.audio__player {
  background-color: rgb(255, 255, 255);
  border-color: rgb(218, 223, 227);
}
.audio__player .audio__info .artist,
.audio__player .audio__info .title {
  color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__bar {
  background-color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__bar .playback__buffer {
  background-color: rgb(76, 80, 83);
}
.audio__player .audio__info .audio__controls .playback__bar .playback__progress {
  background-color: rgb(56, 136, 234);
}
.audio__player .audio__info .audio__controls .playback__bar .playback__progress::after {
  background: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__clock {
  color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__volume .volume__control {
  -webkit-tap-highlight-color: rgb(36, 41, 46);
  background-image: linear-gradient(to right, rgb(56, 136, 234) 0%, rgb(56, 136, 234) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
}
.audio__player .audio__info .audio__controls .playback__volume .volume__control::-webkit-slider-thumb {
  background-color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__extra .control__breakout {
  color: rgb(36, 41, 46);
}
.audio__player .audio__info .audio__controls .playback__playPause i,
.audio__player .audio__info .audio__controls .playback__volume > .volume__muteUnmute i,
.audio__player .audio__info .audio__controls .playback__extra > .control__fullscreen i,
.audio__player .audio__info .audio__controls .playback__extra > .control__download i {
  color: rgb(36, 41, 46);
}

.text {
  color: rgb(36, 41, 46);
  background: rgb(250, 250, 250) !important;
  border-color: rgb(218, 223, 227) !important;
}

.log_container {
  background-color: rgb(0, 0, 0);
}
.log_container .log {
  color: rgb(255, 255, 255);
}

/*# sourceMappingURL=error.css.map */
